<!--komunikaty-->
<p-growl [value]="error"></p-growl>

<!--dialog do logowania-->
<div style = "position: absolute;top: 50%; left: 50%; width: 300px; transform: translateY(-50%)  translateX(-50%);">
  <p-panel header = "{{ts('welcome')}}" [toggleable] = "false">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">

      <div class="ui-grid-row">
        <div class="ui-grid-col-12">{{ts('lblUser')}}</div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <input 
            type="email" 
            pInputText [(ngModel)]="usrName" 
            placeholder = "{{ts('email')}}"
            style = "width:100%"/>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "!shwReset">
        <div class="ui-grid-col-12">{{ts('lblPassword')}}</div>
      </div>
      <div class="ui-grid-row" *ngIf = "!shwReset">
        <div class="ui-grid-col-12">
          <input 
              type="password" 
              pPassword [(ngModel)]="usrPwd" 
              promptLabel = "{{ts('usrPwd')}}" 
              weakLabel = "{{ts('usrPwdWeak')}}"
              mediumLabel = "{{ts('usrPwdMedium')}}" 
              strongLabel = "{{ts('usrPwdStrong')}}"
              placeholder = "{{ts('password')}}"
              indicator = false
              style = "width:100%"/>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <input 
              type="password" 
              pPassword [(ngModel)]="usrPwd2" 
              promptLabel = "{{ts('usrPwd')}}" 
              weakLabel = "{{ts('usrPwdWeak')}}"
              mediumLabel = "{{ts('usrPwdMedium')}}" 
              strongLabel = "{{ts('usrPwdStrong')}}"
              placeholder = "{{ts('password')}}"
              indicator = false
              style = "width:100%"/>
        </div>
      </div>
      <div class="ui-grid-row"><div class="ui-grid-col-12"></div></div>
      <div class="ui-grid-row"><div class="ui-grid-col-12"></div></div>
      <div class="ui-grid-row"><div class="ui-grid-col-12"></div></div>
      <div class="ui-grid-row"><div class="ui-grid-col-12"></div></div>
      <div class="ui-grid-row"><div class="ui-grid-col-12"></div></div>

      <div class="ui-grid-row" *ngIf = "!shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="loginByEmail()" label = "{{ts('loginByEMail')}}" style = "width:100%"></button>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "!shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="loginByGoogle()" label = "{{ts('loginByGoogle')}}" class = "km_element_center" style = "width: 100%"></button>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "!shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="loginByFacebook()" label = "{{ts('loginByFacebook')}}" class = "km_element_center"  style = "width: 100%"></button>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf = "!shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="forgotPwd()" label = "{{ts('forgotPwd')}}" class = "ui-button-secondary" style = "width: 100%"></button>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "!shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="newUser()" label = "{{ts('newUser')}}" class = "ui-button-secondary" style = "width: 100%"></button>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf = "shwReg && !shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="registerByEmail()" label = "{{ts('registerByEmail')}}" [disabled] = "!captchaChecked" style = "width: 100%"></button>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "!shwReg && shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="resetByEmail()" label = "{{ts('resetByEmail')}}"  style = "width: 100%"></button>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf = "shwReg || shwReset">
        <div class="ui-grid-col-12">
          <button pButton type="button" (click)="cacel()" label = "{{ts('cancel')}}"  style = "width: 100%"></button>
        </div>
      </div>
    </div>
  </p-panel>

  <div  *ngIf = "shwReg && !shwReset">
    <div >
      <p-captcha siteKey="6LeKpCEUAAAAAMLEBCBfxOJ58F_SbG9CQOeHzsuK" (onResponse)="captchaOk($event)"></p-captcha>
    </div>
  </div>

</div>